 @import "tailwindcss";

 @theme {
   --color-void-black: #020617;
   --color-cyber-cyan: #06b6d4;
   --color-neon-purple: #a855f7;

   --animate-spin-slow: spin 20s linear infinite;
   --animate-float: float 6s ease-in-out infinite;
   --animate-pulse-glow: pulse-glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   --animate-scan: scan 4s linear infinite;
   --animate-pulse-node: pulse-node 3s ease-in-out infinite;

   @keyframes float {

     0%,
     100% {
       transform: translateY(0);
     }

     50% {
       transform: translateY(-20px);
     }
   }

   @keyframes pulse-glow {

     0%,
     100% {
       opacity: 1;
       box-shadow: 0 0 20px rgba(6, 182, 212, 0.5);
     }

     50% {
       opacity: .5;
       box-shadow: 0 0 10px rgba(6, 182, 212, 0.2);
     }
   }

   @keyframes scan {
     0% {
       top: 0%;
       opacity: 0;
     }

     10% {
       opacity: 1;
     }

     90% {
       opacity: 1;
     }

     100% {
       top: 100%;
       opacity: 0;
     }
   }

   @keyframes pulse-node {

     0%,
     100% {
       opacity: 0.3;
       transform: scale(1);
     }

     50% {
       opacity: 1;
       transform: scale(1.2);
       box-shadow: 0 0 10px rgba(6, 182, 212, 0.8);
     }
   }
 }

 html {
   scroll-behavior: smooth;
   cursor: none;
   /* Hide default cursor for custom implementation */
 }

 @layer utilities {
   .preserve-3d {
     transform-style: preserve-3d;
   }

   .backface-hidden {
     backface-visibility: hidden;
   }

   .rotate-x-90 {
     transform: rotateX(90deg);
   }

   .rotate-y-90 {
     transform: rotateY(90deg);
   }
 }

 body {
   @apply bg-void-black text-slate-200 overflow-x-hidden;
   font-family: 'Courier New', Courier, monospace;
   /* Terminal vibe */
 }

 /* Custom Scrollbar */
 ::-webkit-scrollbar {
   width: 8px;
 }

 ::-webkit-scrollbar-track {
   @apply bg-slate-900;
 }

 ::-webkit-scrollbar-thumb {
   @apply bg-slate-700 rounded;
 }

 ::-webkit-scrollbar-thumb:hover {
   @apply bg-slate-600;
 }